/* Common Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 6rem;
  background-color: #12406f;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.navMenuContainer {
  display: flex;
  gap: 2rem;
}

.searchIcon {
  cursor: pointer;
}

.navAction {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.navAction button {
  background-color: white;
  cursor: pointer;
  padding: 0.75rem 1rem;
  color: #12406f;
  font-weight: 700;
  border: none;
  font-size: 18px;
  border-radius: 10px;
}

.menuIcon {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 1170px) {
  .navMenuContainer {
    position: relative;
  }
  .hide {
    display: none;
  }
  .menuIcon {
    display: block;
    color: "white";
    font-size: 30px;
    cursor: pointer;
  }
}

@media only screen and (max-width: 640px) {
  .navbar {
    padding: 1rem;
  }
  .navAction button {
    padding: 0.75rem 1rem;
  }
}
